<table class="contacts-wrap">
<tbody>
 <tr>
  <td>
   <br/>
    <p>
      <span>Полное наименование:</span> Федеральное государственное бюджетное научное учреждение<br>
      Уфимский федеральный исследовательский центр Российской академии наук<br><br>
      <span>Сокращенное наименование:</span> УФИЦ РАН
      <br>
      <br>
      <span>Юридический адрес:</span> 450098, Республика Башкортостан, г. Уфа, бульвар Давлеткильдеева, д. 5/2
      <br>
      <span>Почтовый адрес:</span> 450054, Республика Башкортостан, г. Уфа, Проспект Октября, д. 71
    </p>
    <br/>
    <p>
      тел./факс (347) 235-60-22, 284-56-52
      <br>
      e-mail:
      <a href="mailto:presid@anrb.ru">
        presid@anrb.ru
      </a>
        ,
      <a href="mailto:presidium@ufaras.ru">
        presidium@ufaras.ru
      </a>
      <br>
      <br>
    </p>
  </td>
  </tr>
  <tr>
  <td>
   <table class="contacts-group">
    <tbody>
      <tr bgcolor="#3b70b8">
      <td width="380px">
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Должность, ученая степень, ученое звание
         </strong>
        </span>
       </span>
      </td>

      <td>
	  <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          ФИО
         </strong>
        </span>
       </span>
      </td>

	  <td>
       <span style="font-size:14px;">
        <span style="color: rgb(255, 255, 255);">
         <strong>
          Телефон
         </strong>
        </span>
       </span>
      </td>
     </tr>

 <tr>
       <td>Врио председателя, д.э.н.</td>
       <td>
        <b>Ахунов Рустем Ринатович</b>
       </td>
       <td> 235-60-22 </td>
      </tr>

 <tr>
       <td>Научный руководитель, член-корреспондент РАН</td>
       <td>
        <b>Джемилев Усеин Меметович</b>
       </td>
       <td> 235-32-19  </td>
      </tr>

<tr>
        <td>Ио заместителя председателя по научной работе, д.х.н., проф., академик АН РБ</td>
        <td>
         <b>Мустафин Ахат Газизьянович</b>
        </td>
        <td> 235-60-22 </td>
       </tr>

<tr>
       <td>Ио заместителя председателя по научной работе, д.б.н., проф.</td>
       <td>
        <b>Николенко Алексей Геннадьевич</b>
       </td>
       <td> 235-21-63 </td>
      </tr>

<tr>
       <td>Ио заместителя председателя по научной работе, д.полит.н.</td>
       <td>
        <b>Мухаметзянова-Дуггал Регина Массаровна</b>
       </td>
       <td> 235-58-55 </td>
      </tr>

<tr>
       <td>Ио заместителя председателя по научной работе, д.г.н., проф.</td>
       <td>
        <b>Псянчин Айбулат Валиевич</b>
       </td>
       <td> 235-60-50 </td>
      </tr>

<tr>
       <td>Главный ученый секретарь, к.ф.-м.н.</td>
       <td>
        <b>Бикметов Айдар Ренатович</b>
       </td>
       <td> 235-36-46 </td>
      </tr>

<tr>
       <td>Секретарь-референт</td>
       <td>
        <b>Васневская Галина Ивановна</b>
       </td>
       <td> 235-60-22 </td>
      </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center">
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Управление кадрового и правового обеспечения</strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Емелин Сергей Михайлович</b>
        </td>
        <td> 235-10-40 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел кадров </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Орлова Евгения Валерьевна </b>
        </td>
        <td> 235-10-40 </td>
       </tr>

<tr>
        <td>Ведущий специалист по кадрам</td>
        <td>
         <b>Массалимова Альфия Шарафиевна</b>
        </td>
        <td> 235-10-40 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Юридический отдел </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Головко Наталья Львовна</b>
        </td>
        <td> 235-20-00 </td>
       </tr>

<tr>
        <td>Ведущий юрисконсульт</td>
        <td>
         <b>Белецкий  Евгений Станиславович</b>
        </td>
        <td> 235-20-00 </td>
       </tr>

<tr>
        <td>Юрисконсульт</td>
        <td>
          <b>Бикбулатова Вера Сергеевна</b>
        </td>
        <td> 235-20-00 </td>
      </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел охраны труда и гражданской обороны </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник отдела</td>
        <td>
         <b>Егорова Светлана Юрьевна</b>
        </td>
        <td> 235-44-92 </td>
       </tr>

<tr>
        <td>Специалист по охране труда</td>
        <td>
         <b>Анисимова Анна Александровна</b>
        </td>
        <td> 235-44-92 </td>
       </tr>

<tr>
        <td>Специалист по охране труда</td>
        <td>
         <b>Талыбова Лиана Марселевна</b>
        </td>
        <td> 235-44-92 </td>
       </tr>

<tr>
        <td>Инженер по гражданской обороне и чрезвычайным ситуациям</td>
        <td>
         <b>Гарифуллин Раис Ахметназипович</b>
        </td>
        <td> 241-48-33 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Финансово-экономическое управление </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел финансово-экономической деятельности </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

 <tr>
        <td>Начальник</td>
        <td>
         <b>Зайнуллина Резеда Анваровна</b>
        </td>
        <td> 235-27-10 </td>
       </tr>

<tr>
        <td>Ведущий экономист </td>
        <td>
         <b>Антонова Лия Геннадьевна</b>
        </td>
        <td> 235-27-10 </td>
       </tr>

<tr>
        <td>Экономист 1 категории</td>
        <td>
         <b>Кунаккужина Альфия Шакировна</b>
        </td>
        <td> 235-27-10 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел имущественно-земельных отношений </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Макаев Тагир Зуфарович</b>
        </td>
        <td> 235-52-22 </td>
       </tr>

 <tr>
        <td>Ведущий инженер по организации эксплуатации зданий и сооружений</td>
        <td>
         <b>Кудакаева Евгения Васильевна</b>
        </td>
        <td> 241-48-66 </td>
       </tr>

 <tr>
        <td>Техник</td>
        <td>
         <b>Пирогова Мария Георгиевна</b>
        </td>
        <td> 241-48-66 </td>
       </tr>

 <tr>
        <td>Инженер</td>
        <td>
         <b>Магалимова Регина Дамировна</b>
        </td>
        <td> 241-48-66 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Центральная бухгалтерия </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

 <tr>
        <td>Главный бухгалтер</td>
        <td>
         <b>Прядильщикова Ирина Александровна</b>
        </td>
        <td> 235-60-00 </td>
       </tr>

 <tr>
        <td>Заместитель главного бухгалтера по бухгалтерскому учету</td>
        <td>
         <b>Ахмадуллина Флюза Фаизовна</b>
        </td>
        <td> 235-25-00 </td>
       </tr>

<tr>
        <td>Заместитель главного бухгалтера по сводной отчетности</td>
        <td>
          <b>Гаврилова Надежда Владимировна</b>
        </td>
        <td></td>
      </tr>

<tr>
        <td>Ведущий бухгалтер</td>
        <td>
         <b>Идрисова Марина Валерьевна</b>
        </td>
        <td> 235-25-00 </td>
       </tr>

<tr>
        <td>Ведущий бухгалтер</td>
        <td>
          <b>Галиуллина Людмила Васильевна</b>
        </td>
        <td> 235-56-07 </td>
      </tr>

<tr>
        <td>Бухгалтер 1 категории</td>
        <td>
         <b>Гаймалова Нурия Разитовна</b>
        </td>
        <td> 235-56-07 </td>
       </tr>

<tr>
        <td>Бухгалтер 1 категории</td>
        <td>
         <b>Мавлютова Юлия Альбертовна</b>
        </td>
        <td> 235-25-00 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Управление проектной и инновационной деятельности </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Ибрагимов Урал Фаритович</b>
        </td>
        <td>  </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел сопровождения проектов </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Салимьянов Рузель Фаритович</b>
        </td>
        <td>  </td>
       </tr>

<tr>
        <td>Ведущий специалист</td>
        <td>
         <b>Фаттахова Регина Халиловна</b>
        </td>
        <td>  </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел по связям с общественностью </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Ахмадеев Алим Ахатович</b>
        </td>
        <td> 235-62-66 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел информационных технологий </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Зайцев Юрий Иванович</b>
        </td>
        <td> 241-48-22 </td>
       </tr>

<tr>
        <td>Ведущий инженер-электроник</td>
        <td>
         <b>Шарипов Рамиль Рашитович</b>
        </td>
        <td> 241-48-22 </td>
       </tr>


<tr>
        <td>Ведущий инженер-программист</td>
        <td>
         <b>Галимова Диана Ленаровна</b>
        </td>
        <td> 241-48-22 </td>
       </tr>


<tr>
        <td>Инженер-программист 1 категории</td>
        <td>
         <b>Кузнецов Михаил Юрьевич</b>
        </td>
        <td> 241-48-22 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Управление делами</strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Рамазанова Альбина Альбертовна</b>
        </td>
        <td> 235-63-00 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Административно-хозяйственный отдел </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Винокурова Регина Вячеславовна</b>
        </td>
        <td> 284-54-14 </td>
       </tr>

<tr>
        <td>Заведующий хозяйством</td>
        <td>
         <b>Вальтер Татьяна Николаевна</b>
        </td>
        <td> 284-54-14 </td>
       </tr>

<tr>
        <td>Ведущий инженер по режиму и охране</td>
        <td>
          <b>Фаткуллин Марат Фаритович</b>
        </td>
        <td> 241-48-33 </td>
      </tr>

<tr>
        <td></td>
        <td>
         <b>Пост охраны №1 (здание научной библиотеки)</b>
        </td>
        <td> 235-62-08 </td>
       </tr>

<tr>
        <td></td>
        <td>
         <b>Пост охраны №2 (транспортный отдел)</b>
        </td>
        <td> 235-55-88 </td>
       </tr>

<tr>
        <td></td>
        <td>
         <b>Пост охраны №3 (въезд по ул. Научная)</b>
        </td>
        <td> 284-54-14 </td>
       </tr>

<tr>
        <td></td>
        <td>
         <b>Пост охраны №4 (бул. Давлеткильдеева)</b>
        </td>
        <td> 233-87-00 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Отдел закупок </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник</td>
        <td>
         <b>Ахунзянова Лилия Кашбуловна</b>
        </td>
        <td> 235-28-47 </td>
       </tr>

<tr>
        <td>Агент по снабжению, зав. складом</td>
        <td>
         <b>Алексеев Юрий Анатольевич</b>
        </td>
        <td> 235-28-47 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Ремонтно-эксплуатационный отдел</strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник отдела</td>
        <td>
         <b>Кирайдт Павел Рудольфович</b>
        </td>
        <td> 235-52-44 </td>
       </tr>

<tr>
        <td>Ведущий инженер</td>
        <td>
         <b>Вольф Сергей Романович</b>
        </td>
        <td> 235-52-44 </td>
       </tr>

<tr>
        <td>Инженер по организации эксплуатации и ремонту зданий и сооружений</td>
        <td>
         <b>Голубев Сергей Александрович</b>
        </td>
        <td> 235-52-44 </td>
       </tr>

<tr>
        <td>Мастер участка</td>
        <td>
         <b>Макаров Юрий Яковлевич</b>
        </td>
        <td> 235-50-22 </td>
       </tr>

<tr>
        <td>Ведущий инженер</td>
        <td>
         <b>Шагалиев Айрат Азатович</b>
        </td>
        <td> 235-52-22 </td>
       </tr>

<tr>
        <td>Инженер-сметчик</td>
        <td>
         <b>Голубева Татьяна Николаевна </b>
        </td>
        <td> 235-62-55 </td>
       </tr>

<tr>
        <td>Мастер участка</td>
        <td>
         <b>Хайруллина Лейля  Гайсовна</b>
        </td>
        <td> 235-62-55 </td>
       </tr>

<tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td colspan="3" style="text-align: center" >
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Научно-организационный отдел </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

 <tr>
       <td>Специалист 1 категории</td>
       <td>
        <b>Муфтеева Регина Маратовна</b>
       </td>
       <td> 235-62-66 </td>
      </tr>

<tr>
       <td>Специалист 1 категории</td>
       <td>
        <b>Фазульянова Индира Ильгизовна</b>
       </td>
       <td> 235-62-66 </td>
      </tr>

<tr>
       <td>Делопроизводитель</td>
       <td>
        <b>Галиахмедова Екатерина Владимировна</b>
       </td>
       <td> 284-56-52 </td>
      </tr>

<tr>
        <td>Секретарь</td>
        <td>
         <b>Головина Лидия Михайловна</b>
        </td>
        <td> 284-56-52 </td>
       </tr>

<tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td colspan="3" style="text-align: center" >
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Отдел аспирантуры </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

<tr>
       <td>Заведующий</td>
       <td>
        <b>Ахмадишина Лейсан Зинуровна</b>
       </td>
       <td></td>
      </tr>

<tr>
       <td>Специалист</td>
       <td>
        <b>Накиева Регина Рафисовна</b>
       </td>
       <td></td>
      </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Научная библиотека </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Начальник отдела – заведующий</td>
        <td>
         <b>Сибагатова Рамиля Юмадиловна</b>
        </td>
        <td> 235-53-00 </td>
       </tr>

<tr>
        <td>Ведущий библиотекарь</td>
        <td>
         <b>Галиуллина Диляра Мидхатовна</b>
        </td>
        <td> 235-53-00 </td>
       </tr>

<tr>
        <td>Старший библиотекарь сектора редкой книги</td>
        <td>
         <b>Ксенофонтова Ирина Алексеевна</b>
        </td>
        <td>  </td>
       </tr>

<tr>
        <td>Старший библиотекарь филиала</td>
        <td>
         <b>Чернова Ирина Геннадиевна</b>
        </td>
        <td> 235-56-07  </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Научный архив </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

 <tr>
        <td>Начальник отдела – заведующий</td>
        <td>
         <b>Гиниатуллина Луиза Мидахатовна</b>
        </td>
        <td> 235-56-48 </td>
       </tr>

<tr>
        <td>Архивариус</td>
        <td>
         <b>Мухаметов Азат Маратович</b>
        </td>
        <td> 235-56-48 </td>
       </tr>

<tr>
        <td><br><br>
        </td>
       </tr>
       <tr bgcolor="#3b70b8">
        <td colspan="3" style="text-align: center" >
         <span style="font-size:14px;">
          <span style="color: rgb(255, 255, 255);">
           <strong>Редакция журнала «Известия УФИЦ РАН» </strong>
          </span>
         </span>
        </td>
        <td>
        </td>
        <td>
        </td>
       </tr>

<tr>
        <td>Главный редактор, советник РАН</td>
        <td>
         <b>Ильгамов Марат Аксанович</b>
        </td>
        <td> 284-64-33 </td>
       </tr>

<tr>
        <td>Научный редактор</td>
        <td>
         <b>Милицкая Наталия Владимировна</b>
        </td>
        <td> 284-64-33 </td>
       </tr>

<tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td colspan="3" style="text-align: center" >
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Первый отдел </strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

<tr>
       <td>Ведущий специалист</td>
       <td>
        <b>Филатова Ирина Васильевна</b>
       </td>
       <td> 235-39-76 </td>
      </tr>

<tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td colspan="3" style="text-align: center" >
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Объединенный комитет профсоюза УФИЦ РАН</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

<tr>
       <td>Председатель</td>
       <td>
        <b>Носарева Светлана Павловна</b>
       </td>
       <td> 235-50-58 </td>
      </tr>

<tr>
       <td>Бухгалтер</td>
       <td>
        <b>Нафикова Гаугар Зиннатовна</b>
       </td>
       <td> 235-50-58 </td>
      </tr>

<tr>
       <td><br><br>
       </td>
      </tr>
      <tr bgcolor="#3b70b8">
       <td colspan="3" style="text-align: center" >
        <span style="font-size:14px;">
         <span style="color: rgb(255, 255, 255);">
          <strong>Совет молодых ученых УФИЦ РАН</strong>
         </span>
        </span>
       </td>
       <td>
       </td>
       <td>
       </td>
      </tr>

<tr>
       <td>Председатель</td>
       <td>
        <b>Вершинина Зиля Рифовна</b>
       </td>
       <td> 235-60-88 </td>
      </tr>

    </tbody>
   </table>
  </td>
 </tr>
</tbody>
</table>
